<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JavaScript/jQuery/Ajax</title>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
<header>
	<h1>[ jQuery / Ajax ]</h1>
</header>
<section>
   <p><a th:href="@{/jquery/jq1}">jQuery 기본 문법, 선택자</a></p>
   <p><a th:href="@{/jquery/jq2}">이벤트 처리</a></p>
   <p><a th:href="@{/jquery/jq3}">배열과 반복문</a></p>
   <p><a th:href="@{/jquery/jq4}">문서객체 조작</a></p>
   <p><a th:href="@{/jquery/jq5}">애니메이션 효과</a></p>

   <p><a th:href="@{/ajax/aj1}">Ajax 요청과 응답</a></p>
   <p><a th:href="@{/ajax/aj2}">객체 보내기/ 받기</a></p>
   <p><a th:href="@{/ajax/recommend}">추천하기</a></p>

	
</section>

</body>
</html>
