<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>JavaScript</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>
        $(document).ready(function() {
            //ID가 button1인 버튼을 클릭하면 testButton() 함수 실행
            //$('#button1').on('click', testButton);
            $('#button1').click(testButton);

            //ID가 button2인 버튼을 클릭하면 button1의 이벤트처리 기능을 없앤다
            $('#button2').on('click', function() {
                //$('#button1').off();
                $('#button1').off('click');
            });

            //ID가 button3인 버튼을 클릭하면 button1의 이벤트처리 기능을 다시 연결
            $('#button3').on('click', function() {
                $('#button1').on('click', testButton);
            });

            //ID가 button4인 버튼을 클릭하면 button1의 클릭이벤트 강제발생
            $('#button4').on('click', function() {
                $('#button1').trigger('click');
            });

            //ID가 button5인 버튼을 클릭하면 3초후에 button1 클릭
            $('#button5').on('click', function() {
                setTimeout(function() {
                    $('#button1').trigger('click');
                }, 3000);
            });

            //이미지를 마우스로 가리키면 크기가 현재의 가로,세로 2배로 변경
            //마우스를 이미지에서 떼면 원래 크기로 변경
            //$('img').on()
            //$('#img1, #img2').on()
            $('.img').on('mouseenter', function() {
                var w = $(this).width();
                var h = $(this).height();
                $(this).css('width', w * 2);
                $(this).css('height', h * 2);
            });

            $('#img1, #img2').on('mouseleave', function() {
                var w = $(this).width();
                var h = $(this).height();
                $(this).css('width', w / 2);
                $(this).css('height', h / 2);
            });

            //class명이 bt인 버튼들의 click이벤트 처리
            $('.bt').on('click', function() {
                let v = $(this).attr('value');
                let d = $(this).attr('data');
                alert(v + ', ' + d);
                $(this).attr('value', '변경');
            });

            //class명이  input인 입력란의 focus 이벤트 처리
            $('.input').on('focus', function() {
                $(this).removeClass('input1');
                $(this).addClass('input2');
            });

            $('.input').on('blur', function() {
                $(this).removeClass('input2');
                $(this).addClass('input1');
            });

            //키보드를 눌렀다 뗄때마다 이벤트 처리
            $('#input3').on('keyup', function() {
                var n = $('#input3').val().length;
                $('#cnt').html(n);
            });

        });
        function testButton() {
            alert('버튼1에 이벤트 발생');
        }
    </script>
    <style>
        .input1 {
            background-color: white;
            border : 1px solid black;
        }
        .input2 {
            background-color: yellow;
            border : 2px solid red;
        }
    </style>
</head>
<body>
<h2>[ 이벤트 처리 ]</h2>
<ul>
    <li>이벤트 처리 연결과 해제
        <p><input type="button" value="버튼1" id="button1"></p>
        <p><input type="button" value="버튼2" id="button2"></p>
        <p><input type="button" value="버튼3" id="button3"></p>
        <p><input type="button" value="버튼4" id="button4"></p>
        <p><input type="button" value="버튼5" id="button5"></p>
    </li>
    <li>여러 객체의 mouseenter, mouseleave 이벤트
        <p><img src="/image/flag1.png" id="img1" class="img"></p>
        <p><img src="/image/flag2.png" id="img2" class="img"></p>
    </li>
    <li>객체의 속성 읽기
        <p><input type="button" value="버튼1" data="1" class="bt"></p>
        <p><input type="button" value="버튼2" data="2" class="bt"></p>
        <p><input type="button" value="버튼3" data="3" class="bt"></p>
    </li>
    <li>서식변경. focus, blur 이벤트
        <p><input type="text" class="input input1"></p>
        <p><input type="text" class="input input1"></p>
    </li>
    <li>
        <p>
<!--            jQuery의 value속성 읽어가는 함수 = 객체.val()-->
            <input type="text" id="input3">
            <span id="cnt">0</span> 글자
        </p>
    </li>

</ul>
</body>
</html>

