<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script>
        //글 삭제
        function deleteBoard(bt) {
            if (confirm('삭제하시겠습니까?')) {
                location.href = 'delete?boardNum=' + bt.dataset.num;
            }
        }

        //글 수정
        function updateBoard(bt) {
            location.href = 'update?boardNum=' + bt.dataset.num;
        }

        //리플 삭제
        function replyDelete(replyNum, boardNum) {
            if (confirm('삭제하시겠습니까?') ) {
                location.href = `replyDelete?replyNum=${replyNum}&boardNum=${boardNum}`;
            }
        }
    </script>
</head>
<body>
<header>
	<h1>[ 게시글 읽기 ]</h1>
</header>
<section>
	<table>
	<tr>
		<th style="width: 100px;">작성자</th>
		<td style="width: 600px;">
			<span th:text="${board.memberName}"></span>
			(<span th:text="${board.memberId}"></span>)
		</td>
	</tr>
	<tr>
		<th>작성일</th>
		<td th:text="${#temporals.format(board.createDate, 'yyyy년 MM월 dd일 a hh시 mm분 ss초')}"></td>
	</tr>
	<tr>
		<th>조회수</th>
		<td th:text="${board.viewCount}"></td>
	</tr>
	<tr>
		<th>제목</th>
		<td th:text="${board.title}"></td>
	</tr>
	<tr>
		<th>내용</th>
		<td><pre th:text="${board.contents}"></pre></td>
	</tr>
	<tr>
		<th>파일첨부</th>
		<td>
            <a th:href="@{/board/download(boardNum=${board.boardNum})}">
                <span th:text="${board.originalName}"></span>
            </a>
        </td>
	</tr>

	</table>
<br>

	<div th:if="${#authentication.name == board.memberId}">
		<button th:data-num="${board.boardNum}" onclick="deleteBoard(this)">삭제</button>
		<button th:data-num="${board.boardNum}" onclick="updateBoard(this)">수정</button>
	</div>
<br>

    <!-- 리플 작성 폼 시작 -->
    <div sec:authorize="isAuthenticated()">
        <!-- 리플 작성 폼 시작 -->
        <form th:action="@{/board/replyWrite}" method="post" onsubmit="return replyWrite()">
            <input type="hidden" name="boardNum" th:value="${board.boardNum}">
            <input type="text" name="contents" id="replyContents" style="width:500px;">
            <input type="submit" value="확인">
        </form>
    </div>

	<!-- 리플 목록 출력 시작 -->
    <table class="reply">
        <tr th:each="reply : ${board.replyList}">
            <td class="replyid" th:text="${reply.memberId}"></td>
            <td class="replytext" th:text="${reply.contents}"></td>
            <td class="replydate" th:text="${#temporals.format(reply.createDate, 'yy.MM.dd HH.mm')}"></td>
            <td class="white">
				<span th:if="${#authentication.name} == ${reply.memberId}">
					<a th:href="|javascript:replyDelete(${reply.replyNum}, ${reply.boardNum})|">
						삭제
					</a>
				</span>
            </td>
        </tr>
    </table>
</section>
</body>
</html>
