<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script>
        function deleteBoard(bt) {
            //전달된 삭제버튼(bt)의 "data-num"속성의 값을 읽는다.
            //그 번호를 /board/delete 경로로 전달하여 글을 삭제한다.
            //삭제할때 해당번호의 글이 없거나, 본인글이 아니면 예외.
            //예외상황이면 글목록으로 이동시킨다.
            if (confirm('삭제하시겠습니까?')) {
                //location.href = 'delete?boardNum=' + bt.dataset.num;
                location.href = 'delete?boardNum=[[${board.boardNum}]]';
            }
        }
    </script>
</head>
<body>
<header>
	<h1>[ 게시글 읽기 ]</h1>
</header>
<section>
	<table>
	<tr>
		<th style="width: 100px;">작성자</th>
		<td style="width: 600px;">
			<span th:text="${board.memberName}"></span>
			(<span th:text="${board.memberId}"></span>)
		</td>
	</tr>
	<tr>
		<th>작성일</th>
		<td th:text="${#temporals.format(board.createDate, 'yyyy년 MM월 dd일 a hh시 mm분 ss초')}"></td>
	</tr>
	<tr>
		<th>조회수</th>
		<td th:text="${board.viewCount}"></td>
	</tr>
	<tr>
		<th>제목</th>
		<td th:text="${board.title}"></td>
	</tr>
	<tr>
		<th>내용</th>
		<td><pre th:text="${board.contents}"></pre></td>
	</tr>
	<tr>
		<th>파일첨부</th>
		<td>
            <a th:href="@{/board/download(boardNum=${board.boardNum})}">
                <span th:text="${board.originalName}"></span>
            </a>
        </td>
	</tr>

	</table>
<br>

	<div th:if="${#authentication.name == board.memberId}">
		<button th:data-num="${board.boardNum}" onclick="deleteBoard(this)">삭제</button>
		<button onclick="">수정</button>
	</div>
<br>

    <!-- 리플 작성 폼 시작 -->
	<div sec:authorize="isAuthenticated()">
        <form>
        </form>
	</div>

	<!-- 리플 목록 출력 시작 -->

</section>
</body>
</html>
