<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>
<header>
	<h1>[ 게시글 읽기 ]</h1>
</header>
<section>
	<table>
	<tr>
		<th style="width: 100px;">작성자</th>
		<td style="width: 600px;">
			<span th:text="${board.memberName}"></span>
			(<span th:text="${board.memberId}"></span>)
		</td>
	</tr>
	<tr>
		<th>작성일</th>
		<td th:text="${#temporals.format(board.createDate, 'yyyy년 MM월 dd일 a hh시 mm분 ss초')}"></td>
	</tr>
	<tr>
		<th>조회수</th>
		<td th:text="${board.viewCount}"></td>
	</tr>
	<tr>
		<th>제목</th>
		<td th:text="${board.title}"></td>
	</tr>
	<tr>
		<th>내용</th>
		<td><pre th:text="${board.contents}"></pre></td>
	</tr>
	<tr>
		<th>파일첨부</th>
		<td></td>
	</tr>

	</table>
<br>

	<div th:if="${#authentication.name == board.memberId}">
		<button onclick="">삭제</button>
		<button onclick="">수정</button>
	</div>
<br>

    <!-- 리플 작성 폼 시작 -->
	<div sec:authorize="isAuthenticated()">
        <form>
        </form>
	</div>

	<!-- 리플 목록 출력 시작 -->

</section>
</body>
</html>
