<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h2>[ 회원가입 ]</h2>

<div th:if="${errorMessage}">
    <p th:text="${errorMessage}" style="color:red"></p>
</div>

<form th:action="@{/member/join}" method="post" th:object="${member}">
    <div>
        <label for="id">ID</label>
        <input type="text" id="id" th:field="*{id}" />
    </div>
    <div>
        <label for="rawPassword">Password</label>
        <input type="password" id="rawPassword" name="rawPassword" />
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
        <button type="submit">가입</button>
    </div>
    <p>아이디, 비밀번호, 이름을 반드시 3글자 이상 입력하세요.</p>
</form>

</body>
</html>
