<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>web2</title>
</head>
<body>
    <h1>[ web2 ]</h1>
    <ol>
        <li>Lombok, Logger, Debug 사용</li>
        <ul>
            <li><a href="lombok">Lombok</a></li>
            <li><a href="logger">Logger</a></li>
            <li><a href="debug">Debug</a></li>
        </ul>
        <li>서버와 값 주고받기</li>
        <ul>
            <li><a href="param/view1">서버로 Parameter 전달 1</a></li>
            <li><a href="param/view2">서버로 Parameter 전달 2</a></li>
            <li><a href="param/input3?num=1">서버로 Parameter 전달 3</a></li>
            <li><a href="param/input3?num=2">서버로 Parameter 전달 3</a></li>
            <li><a href="param/input3?num=3">서버로 Parameter 전달 3</a></li>
            <li><a href="param/model">서버에서 클라이언트로 값 보내기</a></li>
        </ul>
        <li>세션</li>
        <ul>
            <li><a href="ss/session1">세션에 저장</a></li>
            <li><a href="ss/session2">세션에서 읽기</a></li>
            <li><a href="ss/session3">세션에서 삭제</a></li>
            <li><a href="ss/login">로그인</a></li>
            <li><a href="ss/logout">로그아웃</a></li>
            <li><a href="ss/test">로그인해야 들어갈수있는 페이지</a></li>
        </ul>
        <li>쿠키</li>
        <ul>
            <li><a href="ck/cookie1">쿠키저장</a></li>
            <li><a href="ck/cookie2">쿠키삭제</a></li>
            <li><a href="ck/cookie3">쿠키읽기</a></li>
        </ul>
        <li><a href="ck/local">localStorage, sessionStorage</a></li>

        <li>Thymeleaf</li>
    </ol>
</body>
</html>