<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>web2</title>
</head>
<body>
    <h1>[ web2 ]</h1>
    <ol>
        <li>Lombok, Logger, Debug 사용</li>
        <ul>
            <li><a href="lombok">Lombok</a></li>
            <li><a href="logger">Logger</a></li>
            <li><a href="debug">Debug</a></li>
        </ul>
        <li>서버와 값 주고받기</li>
        <ul>
            <li><a href="param/view1">서버로 Parameter 전달 1</a></li>
            <li><a href="param/view2">서버로 Parameter 전달 2</a></li>
            <li><a href="param/input3?num=1">서버로 Parameter 전달 3</a></li>
            <li><a href="param/input3?num=2">서버로 Parameter 전달 3</a></li>
            <li><a href="param/input3?num=3">서버로 Parameter 전달 3</a></li>
            <li><a href="param/model">서버에서 클라이언트로 값 보내기</a></li>
        </ul>
        <li>세션</li>
        <ul>
            <li><a href="ss/session1">세션에 저장</a></li>
            <li><a href="ss/session2">세션에서 읽기</a></li>
            <li><a href="ss/session3">세션에서 삭제</a></li>
            <li><a href="ss/login">로그인</a></li>
            <li><a href="ss/logout">로그아웃</a></li>
            <li><a href="ss/test">로그인해야 들어갈수있는 페이지</a></li>
        </ul>
        <li>쿠키</li>
        <ul>
            <li><a href="ck/cookie1">쿠키저장</a></li>
            <li><a href="ck/cookie2">쿠키삭제</a></li>
            <li><a href="ck/cookie3">쿠키읽기</a></li>
        </ul>
        <li><a href="ck/local">localStorage, sessionStorage</a></li>

        <li>Thymeleaf</li>
        <ul>
            <li><a href="th/thymeleaf1">타임리프 테스트 1</a></li>
            <li><a href="th/thymeleaf2">타임리프 테스트 2</a></li>
        </ul>

        <li>예제</li>
        <ul>
            <!-- 이름과 주민등록번호를 입력하는 폼을 보여준다.
                입력후 버튼을 누르면  Controller에서 받아서 나이를 계산하여
                새로운 페이지에 이름과 나이를 출력한다.  -->
            <li><a href="ex/exam1">주민등록번호 입력받아 나이 구하기</a></li>
            <!-- 아래 링크를 누르면 Controller에서 쿠키를 확인하고
            이전에 저장된 쿠키가 있으면 읽어서 +1하여 다시 저장.
            방문횟수를 Model에 저장하고 새로운 페이지로 이동하여
            X번째 방문입니다. 라고 출력 -->
            <li><a href="ex/exam2">방문횟수 출력하기</a></li>
        </ul>

    </ol>
</body>
</html>