<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function save() {
            let n = document.getElementById('name').value;
            localStorage.setItem('name', n);
            sessionStorage.setItem('name', n);
        }
        function read() {
            let n1 = localStorage.getItem('name');
            let n2 = sessionStorage.getItem('name');
            alert(`localStorage:${n1}, sessionStorage:${n2}`);
        }
        function del() {
        }

    </script>
</head>
<body>
    <h1>[ localStorage와 sessionStorage ]</h1>

    <p>이름 : <input type="text" id="name"></p>

    <p><button onclick="save()">저장</button></p>
    <p><button onclick="read()">읽기</button></p>
    <p><button onclick="del()">삭제</button></p>

</body>
</html>