<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>web5</title>
    <script>
        function formCheck() {
            let name = document.getElementById('memberName');
            let pw = document.getElementById('memberPassword');
            let pw2 = document.getElementById('memberPassword2');

            if (name.value.length < 2) {
                alert('이름을 2자 이상 입력하세요.');
                name.focus();
                name.select();
                return false;
            }
            //비밀번호는 빈칸이거나, 5자이상~10자이하이면서 똑같이 두번 입력
            if (pw.value != '' && (pw.value.length < 3 || pw.value.length > 10)) {
                alert('비밀번호는 3~10자로 입력하세요.');
                pw.focus();
                pw.select();
                return false;
            }
            if (pw.value != pw2.value) {
                alert('비밀번호를 정확하게 다시 입력하세요.');
                pw.focus();
                pw.select();
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<header>
    <h1>[ 개인정보 수정 ]</h1>
</header>
<section>
    <form th:action="@{/member/info}"  method="post" onsubmit="return formCheck()">
        <table>
            <tr>
                <th>비밀번호</th>
                <td><input type="password" name="memberPassword" id="memberPassword" placeholder="비밀번호를 변경하려면 입력하세요."><br>
                    <input type="password" id="memberPassword2" placeholder="비밀번호 다시 입력"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td><input type="text" name="memberName" id="memberName" th:value="${member.memberName}" placeholder="이름 입력"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td><input type="text" name="email" id="email" th:value="${member.email}" placeholder="이메일 입력"></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><input type="text" name="phone" th:value="${member.phone}" placeholder="전화번호 입력"></td>
            </tr>
            <tr>
                <th>주소</th>
                <td><input type="text" name="address" th:value="${member.address}" placeholder="주소 입력" style="width:300px;"></td>
            </tr>
        </table>
        <br>

        <input type="submit" value="수정" />
        <input type="reset" value="다시 쓰기" />

    </form>
</section>

</body>
</html>