<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>web4</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>방명록</h1>
<!-- 글쓰기 링크 -->
<p>
    <a th:href="@{/write}">
        <img th:src="@{/images/icon_write.png}">
        <span>글쓰기</span>
    </a>
</p>

<!-- 글 목록 출력 -->
<table th:each="gb: ${guestbookList}" class="list">
    <tr>
        <th>번호 : </th>
        <td th:text="${gb.num}">번호</td>
    </tr>
    <tr>
        <th>작성자 : </th>
        <td th:text="${gb.name}">이름</td>
    </tr>
    <tr>
        <th>IP Address : </th>
        <td th:text="${gb.ip}">IP Address</td>
    </tr>
    <tr>
        <th>추천 : </th>
        <td th:text="${gb.recommend}">0</td>
    </tr>
    <tr>
        <th>작성일 : </th>
        <td th:text="${#temporals.format(gb.inputdate, 'yy.MM.dd HH:mm:ss')}">작성일</td>
    </tr>
    <tr>
        <td colspan="2"><pre th:text="${gb.message}">글내용</pre></td>
    </tr>
    <tr>
        <td colspan="2">
            <!-- 삭제 -->
            <form action="delete" method="post">
                <input type="hidden" name="num" th:value="${gb.num}">
                <input type="password" name="password">
                <input type="submit" value="삭제">
                <input type="button" value="수정"
                   th:onclick="|location.href='update?num=${gb.num}'|">
                <a th:href="|recommend?num=${gb.num}|">
                    <img src="images/icon_like_50.png" title="추천하기">
                </a>
            </form>
            <!-- 수정 : location.href='update?num=1' -->
        </td>
    </tr>
</table>

<script>
    if ('[[${msg}]]') {
        alert('[[${msg}]]');
    }
</script>

</body>
</html>
