<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>web4</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>[ 방명록 글쓰기 ]</h1>

<form id="form" action="write" method="post">
    <table class="writeForm">
        <tr>
            <th>이름</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea name="message"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">저장</button></td>
        </tr>
    </table>
</form>

</body>
</html>