/* 방명록 CSS */
h1 {
    width : 300px;
    text-align: center;
}

table {
    margin: 20px;
}

th {
    width: 80px;
    padding: 3px;
    text-align: left;
}

.writeForm td {
    width: 200px;
    padding: 3px;
    text-align: center;
}
.writeForm input {
    width: 100%;
}
.writeForm textarea {
    width: 100%;
    height: 100px;
}

table.list {
    width: 400px;
    margin: 10px;
    border-top: 2px solid #cccccc;
}

img {
    vertical-align: middle;
}
a:link {
    text-decoration: none;
}
pre {
    padding: 10px;
    font-size: 18px;
    background-color: #eeeeee;
}
